<html>
	<body>
		<h2>Hello utilisateur {{name}} !</h2>
		<h2>Menu principal</h2>

		<li>
			<a href="{{ path('sym16_simple_stock_produit', {'chiffre1':'4', 'chiffre2':'3'}) }}">produit</a>
		</li>
		<li>
			<a href="{{ path('sym16_simple_stock_ilike', {'verbe':'dormir'}) }}">iLike</a>
		</li>
	</body>
</html>
